.banner{
margin: 0;
padding: 40px 0;
}
.bannerContent{
    margin: 0;
    display: flex;
    margin: 0 -15px;
}
.bannerItem{
display: flex;
padding: 0 15px;
}
.bannerCard img{
width: 100%;
border-radius: 8px;
}