.downloadFooterApp{
    margin: 30px 0 30px 0;
    background-color: #3c4b6d;
    padding: 8px 15px;
    border-radius: 8px;
}
.LogoFooterApp img{width: 44px;}
.LogoFooterApp h6{    margin: 0 15px 0 0px;
    color: #fff;
    font-size: 1.2rem;}
.iconAppFooter{
    margin: 0;
}
.iconAppFooter img{
    margin: 0;
    height: 44px;
    border-radius: 8px;
}
.iconAppFooter a{display: flex;margin: 0 10px 0 0;}
.iconAppFooter a span{display: flex; background-color: #fff; border-radius: 8px;}
