.Product_Price_Discount_Wrapper{margin: 0;}
.Product_Price_Discount_Wrapper span{    margin: 0;
    background: #ef3f55;
    color: #fff;
    padding: 0 7px;
    border-radius: 16px;
    font-size: 12px;}
    .line_through{
        color: #c0c2c5;
        margin-right: auto;
        text-decoration: line-through;
        align-self: flex-end;
        font-size: 0.8rem;
    }